doctype html
html
  head
    title= title
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src='/javascripts/skel.min.js')
    link(href='http://fonts.googleapis.com/css?family=Josefin+Sans', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/style.css')

    //link(rel="image_src", href="/images/fulls/OriginalJumping_exp.jpg") 



  body
    block content
